[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
prettytable = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
rms = "python main.py"
db = "python db.py"
